header{
    height: 50px;
}
.wrapped{
    margin-top: 50px;
    overflow: hidden;
    height: calc(100vh - 50px);
}
#sidebar{
    height: 100%;
    width: 180px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}
ul{
    list-style: none;
}
#sidebar a{
    text-decoration: none;
    color: white;
}
.logo,
.utility{
    width: 200px;
}
.utility{
    width: 150px;
}

.search-bar{
    flex-grow: 1;
}
.small-logo{
    width: 50px;
    display: none;
}
@media screen and (max-width: 768px) {
    #sidebar{
        width: 70px;
    }
    .large-logo{
        display: none;
    }
    .small-logo{
        display: block;
    }
    .logo{
        width: 70px;
    }
    .utility{
        width: 40px;
    }
    header .utility a{
        display: none;
    }
    header .utility a:last-child{
        display: block;
    }
    
}