header{
    height: 50px;
    background-color: #f8f9fa;
}
.wrapped{
    margin-top: 50px;
    overflow: hidden;
    height: calc(100vh - 50px);
}
#sidebar{
    height: 100%;
    width: 150px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
    background-color:#f8f9fa ;
}
ul{
    list-style: none;
}
#sidebar a{
    text-decoration: none;
    color: white;
}
.logo,
.utility{
    width: 200px;
}
.utility{
    width: 150px;
}

.search-bar{
    flex-grow: 1;
}
.small-logo{
    width: 50px;
    display: none;
}
.info-class{
    width: 70%;
}

.li-roi,
.li-stato,
.li-action{
    width: 20%;
}
.li-date{
    width: 40%;
}
@media screen and (max-width: 768px) {
    #sidebar{
        width: 60px;
    }
    .large-logo{
        display: none;
    }
    .small-logo{
        display: block;
    }
    .logo{
        width: 70px;
    }
    .utility{
        width: 40px;
    }
    header .utility a{
        display: none;
    }
    header .utility a:last-child{
        display: block;
    }
    .icon-sidebar,
    .icon-bot-sidebar{
        display: flex;
    }
    .text-sidebar,
    .text-bot-sidebar{
        display: none;
    }
}   

@media screen and (max-width:576px) {
    .li-date,
    .li-roi{
        display: none;
    }
    
    .info-class{
        width: 50%;
    }
    .li-stato,
    .li-action{
    width: 50%;
    }
}